body{
    background-color: teal;
}
main{
    height: 30rem;
    display: flex;
    justify-content: center;
}
.container{
    display: flex;
    align-items: center;
}
#area {
    border-collapse: collapse; /* Colapsar los bordes para que no haya espacio entre las celdas */
    width: 50rem; 
}

#area th, #area td {
    color: white;
    border: 1px solid rgb(255, 255, 255);
    background-color: teal;
    padding: 8px;
    text-align: center;
}